<nav id="navbar" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<img src="/assets/logo.png" alt="203 trading logo" class="logo" routerLink="/" fragment="home" />
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/" fragment="home">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/" fragment="aboutUs">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/" fragment="services">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink fragment="contactUs">Contact Us</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" routerLink="/Help">Help</a>
			</li>
		</ul>
		<a href="tel:203-286-5202" class="navbar-text">
			203-286-5202
		</a>
	</div>
</nav>
