<h3><u>About Us</u></h3>
<div class="container large-about-us-section text-center d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">
    <h3>
        203 Trading is more than just your average computer company.
        <br />
        We are a team dedicated to manufacturing a superior product.
        <br />
        We research the market, test our competitors, and utilize cutting edge industry technologies to build the
        product you deserve.
    </h3>
</div>
<div class="container small-about-us-section text-center d-xs-block d-sm-block d-md-block d-lg-none d-xl-none">
    <p>
        203 Trading is more than just your average computer company. We are a team dedicated to manufacturing a superior
        product. We research the market, test our competitors, and utilize cutting edge industry technologies to build
        the product you
        deserve.
    </p>
</div>
<br />
<br />
<br />
<app-video id="video"></app-video>