<div class="container">
    <h2 id="contactUs">Contact Us</h2>
    <form *ngIf="!messageSent" [formGroup]="contactUsForm" (ngSubmit)="submitContactUsForm()" novalidate class="col p-0">
        <div class="form-group">
            <label for="name">Name</label>
            <span *ngIf="submitted && contactUsForm.controls.name.errors" class="text-danger">
                <span *ngIf="contactUsForm.controls.name.errors.required"> is required</span>
                <span *ngIf="contactUsForm.controls.name.errors.maxlength"> cannot be more than 50 characters</span>
            </span>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name" maxlength="50"
                [class.is-invalid]="submitted && contactUsForm.controls.name.errors">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <span *ngIf="submitted && contactUsForm.controls.email.errors" class="text-danger">
                <span *ngIf="contactUsForm.controls.email.errors.required"> is required</span>
                <span *ngIf="contactUsForm.controls.email.errors.maxlength"> cannot be more than 50 characters</span>
                <span *ngIf="contactUsForm.controls.email.errors.email"> is not valid</span>
            </span>
            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email"
                maxlength="50" [class.is-invalid]="submitted && contactUsForm.controls.email.errors">
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <span *ngIf="submitted && contactUsForm.controls.message.errors" class="text-danger">
                <span *ngIf="contactUsForm.controls.message.errors.required"> is required</span>
                <span *ngIf="contactUsForm.controls.message.errors.maxlength"> cannot be more than 50 characters</span>
            </span>
            <textarea formControlName="message" class="form-control" id="message" placeholder="Your Message" rows="3"
                maxlength="5000" [class.is-invalid]="submitted && contactUsForm.controls.message.errors"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

    <h2 *ngIf="!!messageSent" class="text-success text-center">Sent!</h2>

    <!-- Google Map -->
    <div class="mapouter mt-5"><div class="gmap_canvas"><iframe title="Map of company location" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=203%20trading&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.org">embedgooglemap.org</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
</div>