<div id="slideshow-intro" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      *ngFor="let slideShowItem of slideShowList; let index = index"
      [class.active]="index === 0"
      data-target="#slideshow-intro"
      attr.data-slide-to="{{index}}"></li>
  </ol>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let slideShowItem of slideShowList; let index = index"
      [ngClass]="{'active d-flex flex-column justify-content-center align-items-center': index === 0 }">
      <img src="{{slideShowItem.imgUrl}}" class="d-block w-100" alt="{{slideShowItem.imgAltText}}">
    </div>
  </div>
  <a class="carousel-control-prev" href="#slideshow-intro" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slideshow-intro" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>