<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="60">
  <router-outlet></router-outlet>
  <app-footer class="mt-auto"></app-footer>
</body>