<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <img src="/assets/ourServices_white.svg" />
  </div>
  <div class="row">
    <div *ngFor="let service of servicesList" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 mt-sm-3 mt-md-3 mt-lg-3 mt-xl-3">
      <div class="card" (click)="service.isHidden = !service.isHidden">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title noselect">{{service.title}}</h5>
          <div [ngClass]="{'card-icon-container container d-flex align-items-center justify-content-center': !!service.isHidden}" [hidden]="!service.isHidden">
            <fa-icon [icon]="service.icon" size="6x"></fa-icon>
          </div>
          <p class="card-text noselect" [hidden]="!!service.isHidden">
            {{service.body}}
          </p>
          <p class="mb-0 ml-auto mt-auto" [hidden]="!service.isHidden">See More</p>
          <p class="mb-0 ml-auto mt-auto" [hidden]="!!service.isHidden">See Less</p>
        </div>
      </div>
    </div>
  </div>
</div>