h2
    color: #ffffff
.card
    height: 382px
    transition: background-color 200ms linear
    &:hover
        cursor: pointer
        background-color: #2f87bb
p.mb-0.ml-auto.mt-auto
    user-select: none
.card-icon-container
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%