/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'
@import "../node_modules/ngx-toastr/toastr.css"
.noselect
  -webkit-touch-callout: none // iOS Safari
  -webkit-user-select: none   // Safari
  -khtml-user-select: none    // Konqueror HTML
  -moz-user-select: none      // Old versions of Firefox
  -ms-user-select: none       // Internet Explorer/Edge
  user-select: none           // Non-prefixed version, currently supported by Chrome, Opera and Firefox