<app-navigation-for-other></app-navigation-for-other>
<div class="text-center mt-5">
    <h2 class="mb-5">FAQ</h2>
    <div class="m-2 text-left faq-content" (click)="toggleContent($event)" *ngFor="let faq of faqContentList">
        <div class="p-3 title">
            {{faq.title}}
            <fa-icon class="float-right plus-icon" [icon]="faPlus"></fa-icon>
            <fa-icon class="d-none float-right minus-icon" [icon]="faMinus"></fa-icon>
        </div>
        <div class="body" innerHtml="{{faq.body}}"></div>
    </div>
</div>