.faq-content
        background-color: #ffffff
        cursor: pointer
        & > .body
            border-top: 1px solid #000000
            display: none
            padding: 1rem
@media (min-width: 700px)
    .faq-content
        display: inline-block
        width: 70vw