app-about-us, app-services, app-bio, app-contact
  display: block
  padding: 3% 0
app-services
  background-color: #9dc6de
  @media (min-width: 768px)
      background-image: url(/assets/warehouseInterior.jpg)
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      background-attachment: fixed