<app-navigation-for-home></app-navigation-for-home>

<app-intro id="home" class="d-flex flex-column justify-content-center align-items-center text-center"></app-intro>
<app-about-us id="aboutUs" class="d-flex flex-column justify-content-center align-items-center text-center"></app-about-us>
<app-services id="services" class="d-flex flex-column justify-content-center align-items-center"></app-services>
<app-contact id="contactUs" class="d-flex flex-column justify-content-center align-items-center mb-3"></app-contact>